
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

.menu-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

/* Style for Header */
.container-header {
    background-color: #004b75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    color: #004b75;
    border-bottom: solid #004b75 2px;
}

.container-header h1 {
    display: block;
    color: #00a2ff;
}

.container-header li {
    display: inline;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.container-header li:hover {
    background-color: #00a2ff;
}

.container-header li:hover a {
    color: white;
}

.container-header a {
    text-decoration: none;
    color: #00a2ff;
}

/* Style sections */
.sections-list {
    padding: 0 60px;
    padding-top: 120px; /* Compensa a altura do header fixo */
}

/* Esportes */
#sports {
    border-radius: 5px;
    background-color: #eef6f8; 
    padding: 20px;
    margin-bottom: 20px;
}

/* Economia */
#economy {
    border-radius: 5px;
    background-color: #eef6f8; 
    padding: 20px;
    margin-bottom: 20px;
}

/* Tecnologia */
#technology {
    border-radius: 5px;
    background-color: #eef6f8; 
    padding: 20px;
    margin-bottom: 20px;
}

/* Política */
#Entertainment {
    border-radius: 5px;
    background-color: #eef6f8; 
    padding: 20px;
    margin-bottom: 20px;
}

.sections-list h2 {
    color: #004b75;
    font-size: 2em;
    border-bottom: #004b75 solid 1px;
    margin-bottom: 15px;
}

/* Style articles */
.container-articles {
    margin: 35px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-articles article {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    background-color: white;
    border: solid #004b75 1px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    width: 32%;
    min-width: 200px;
    padding: 10px 15px;
}

.container-articles img {
    width: 80%;
    border-radius: 10px;
}

.container-articles time {
    color: #004b75;
}

.container-articles h3 {
    color: #004b75;
}

.container-articles p {
    color: #00304d;
}

.container-articles a {
    width: 100%;
    text-align: center;
    padding: 10px 15px;
    background-color: #004b75;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

/* Responsive article */
@media (max-width: 768px) {
    .container-articles article {
        width: 100%; 
    }
}